@import "tailwindcss";

@theme {
  --color-ui-primary: #004BCB;
  --color-ui-hover: #244E94;
  --color-ui-text: #333;
  --color-ui-title: #05324B;
  --color-ui-table-text: #3E5377;
  --color-ui-table: #647DA7;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
